set timeout=5
set default=0

menuentry "Unraid OS" {
    insmod fat
    insmod linux
    echo "Unraid GRUB hack! by Anthony Andrews"
    linux /bzimage initrd=/bzroot nomodeset unraid
    echo "loading kernel into ram..."
    initrd /bzroot
}

menuentry "Unraid OS with GUI" {
    insmod fat
    insmod linux
    echo "Unraid GRUB hack! by Anthony Andrews"
    linux /bzimage initrd=/bzrootgui nomodeset unraid
    echo "loading kernel into ram..."
    initrd /bzrootgui
}
