insmod normal
set root=(hd0,1)
set prefix=(hd0,1)/boot/grub

# Force the interactive shell layout to immediately execute your loose config
configfile (hd0,1)/EFI/boot/grub.cfg

# build with:
# ./grub-mkimage -d ./grub-core -O x86_64-efi -o bootx64.efi -c early-grub.cfg -p "" fat part_msdos part_gpt linux normal configfile search search_label echo test ls memdisk ext2 blocklist boot crypto datetime extcmd gettext
